In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import pandas as pd
import os


# for each congress, get the following data and store the congress # as a column
# Create empty dataframes to store the data for each congress
results_df = pd.DataFrame()
hearing_data_df = pd.DataFrame()
members_df = pd.DataFrame()

# Iterate over each congress
for congress in range(113,119):
    # Read the data for the current congress
    results = pd.read_csv(str(congress) + "/results.csv")
    hearing_data = pd.read_csv(str(congress) + "/hearings.csv")
    members = pd.read_csv(str(congress) + "/assignments.csv", index_col=0)
    
    # Add the congress number as a column
    results['Congress'] = congress
    hearing_data['Congress'] = congress
    members['Congress'] = congress
    
    # Append the data to the respective dataframes
    results_df = pd.concat([results_df, results])
    hearing_data_df = pd.concat([hearing_data_df, hearing_data])
    members_df = pd.concat([members_df, members])

# Reset the index of the dataframes
results_df.reset_index(drop=True, inplace=True)
hearing_data_df.reset_index(drop=True, inplace=True)
members_df.reset_index(drop=True, inplace=True)

results = results_df
hearing_data = hearing_data_df

In [7]:
#reformatting dates
from datetime import datetime
import pandas as pd 

#results df
try:
    results["Date"] = [datetime.strptime(string, '%A, %B %d, %Y') for string in results["Date"]]
except:
    pass
results ["Month"] = [d.month for d in results["Date"]]
results ["Year"] = [d.year for d in results["Date"]]
results["Quarter"] = [(m-1)//3 + 1 for m in results["Month"]]

#hearings df
try:
    hearing_data["Date"] = [datetime.strptime(string, '%A, %B %d, %Y') for string in hearing_data["Date"]]
except:
    pass
hearing_data ["Month"] = [d.month for d in hearing_data["Date"]]
hearing_data ["Year"] = [d.year for d in hearing_data["Date"]]
hearing_data["Quarter"] = [(m-1)//3 + 1 for m in hearing_data["Month"]]

#setting up dataframes
conflictsxhearings_quarter = pd.DataFrame(columns=["year","quarter","conflicts","hearings"])
conflictsxhearings_month = pd.DataFrame(columns=["year","month","conflicts","hearings"])


unique_years = hearing_data["Year"].unique()

#for each year in the congress
for year in unique_years:

    for q in range(1,5):
        try:
            conflicts = results[results["Year"]==year]["Quarter"].value_counts()[q]
            hearings = hearing_data[hearing_data["Year"]==year]["Quarter"].value_counts()[q]
            res = pd.DataFrame([[year,q,conflicts,hearings]],columns = ["year","quarter","conflicts","hearings"])
            conflictsxhearings_quarter = pd.concat([conflictsxhearings_quarter, res])
        except:
            continue

    for m in range(1,13):
        try:
            conflicts = results[results["Year"]==year]["Month"].value_counts()[m]
        except:
            conflicts = 0
        try:
            hearings = hearing_data[hearing_data["Year"]==year]["Month"].value_counts()[m]
        except:
            hearings = 0
        res = pd.DataFrame([[year,m,conflicts,hearings]],columns = ["year","month","conflicts","hearings"])
        conflictsxhearings_month = pd.concat([conflictsxhearings_month, res])

print("\nConflicts per hearing per quarter")
display(conflictsxhearings_quarter)
print("\nConflicts per hearing per month")
display(conflictsxhearings_month)

# conflictsxhearings_quarter.to_csv(directory + "/conflicts_by_hearing_quarter.csv")
# conflictsxhearings_month.to_csv(directory + "/conflicts_by_hearing_month.csv")

# summarize conflicts by year
conflicts_by_year = pd.DataFrame(results["Year"].value_counts())
#save to directory
conflicts_by_year.to_csv("113-118_conflicts_by_year.csv")
conflictsxhearings_quarter.to_csv("113-118_conflicts_by_hearing_quarter.csv")

Conflicts per hearing per quarter

   year quarter conflicts hearings
0  2013       1      1532      307
0  2013       2      2051      506
0  2013       3       949      253
0  2013       4       856      225
0  2014       1      1455      338
0  2014       2      1974      422
0  2014       3      1151      260
0  2014       4       172       83
0  2015       1      2406      429
0  2015       2      2106      426
0  2015       3      1197      246
0  2015       4      1212      280
0  2016       1      2129      419
0  2016       2      1548      369
0  2016       3      1153      259
0  2016       4       124       48
0  2017       1      1772      324
0  2017       2      1459      376
0  2017       3       683      214
0  2017       4       912      288
0  2018       1      1437      289
0  2018       2      1808      429
0  2018       3       892      221
0  2018       4        58       47
0  2019       1      1995      342
0  2019       2      2821      501
0  2019       3      1241      284
0  2019       4      1050      283
0  2020       1      1931      356
0  2020       2        32       87
0  2020       3       310      214
0  2020       4        47       47
0  2021       1       552      248
0  2021       2      1504      439
0  2021       3       642      211
0  2021       4       657      204
0  2022       1       844      235
0  2022       2      1663      379
0  2022       3       912      187
0  2022       4       152       71
0  2023       1      2147      298
0  2023       2      2176      395
0  2023       3      1114      251
0  2023       4       765      211
0  2024       1      1464      269
0  2024       2      1653      337

Conflicts per hearing per month

    year month conflicts hearings
0   2013     1        91       22
0   2013     2       546      118
0   2013     3       895      167
0   2013     4       933      207
0   2013     5       520      140
..   ...   ...       ...      ...
0   2024     8         0        0
0   2024     9         0        0
0   2024    10         0        0
0   2024    11         0        0
0   2024    12         0        0

[144 rows x 4 columns]